@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Light.otf");
}

.test123 {
  font-family: 'Gilroy', sans-serif;
}

body {
  background-color: #ffffff !important;
  font-family: 'Gilroy', sans-serif;
  padding-left: 5px;
  padding-right: 5px;
  color: #000000;
  height: auto;
}

.head-wrapper {
  width: 100%;
  box-sizing: border-box;
  min-height: 100%;
  margin-top: 30px;
}

.top {
  width: 100%;
  position: relative;
  height: 200px;
  width: 200px;
  overflow: hidden;
  border: 0px solid black;
  border-radius: 50%;
  background-color: #97BCB5;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 992px ) {
  .top {
    width: 100%;
    position: relative;
    height: 350px;
    width: 350px;
    overflow: hidden;
    border: 0px solid black;
    border-radius: 50%;
    background-color: #97BCB5;
    margin-left: auto;
    margin-right: auto;
  }
}

.menu-main-title {
  text-align: center;
  color: #000000;
  font-size: 62px;
  height: 3.5em;
  line-height: 3.5em;
}

.main-title {
  text-align: center;
  color: #000000;
  font-size: 48px;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  text-transform: uppercase;
  width: 100%;
}

@media screen and (max-width: 992px ) {
  .main-title {
    text-align: center;
    color: #000000;
    font-size: 96px;
  }
}

.dots_logo img{
  width: 200px;
  height: 200px;
  display: block;
  margin: 0 auto;
  padding: 0;
  border: 0px solid black;
  border-radius: 50%;
}

@media screen and (max-width: 992px ) {
  .dots_logo img{
    width: 350px;
    height: 350px;
    display: block;
    margin: 0 auto;
    padding: 0;
    border: 0px solid black;
    border-radius: 50%;
  }
}

.wrapper {
  display: grid;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  min-height: 100%;
}

/*
img {
  width: 200px;
  height: 200px;
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 0px;
  margin-right: auto;
}
*/

.service {
  display: inline;
  padding: padding;
  color: black;
  font-size: 30px;
  font-weight: 400;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 20px;
  padding-right: 0;
  -webkit-box-decoration-break: clone;
  -ms-box-decoration-break: clone;
  -o-box-decoration-break: clone;
  box-decoration-break: clone;
  text-align: left;
}

.menu-items {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.menu-list {
  font-size: 28px;
  padding: 10px 0px 10px 0px;
  text-transform: uppercase;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 992px ) {
  .menu-list {
    font-size: 42px;
    padding: 15px 0px 15px 0px;
    text-transform: uppercase;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}

.main_btn {
  position: relative;
  display: inline-block;
  font-weight: 600;
  width: 400px;
  padding: 0.4em 0em;
  text-decoration: none;
  color: #ffffff;
  transition: .4s;
  background-color: #9CA2A9;
  border-radius: 30px;
}

.main_btn__special {
  position: relative;
  display: inline-block;
  font-weight: 600;
  width: 400px;
  padding: 0.4em 0em;
  text-decoration: none;
  color: #ffffff;
  transition: .4s;
  background-color: #9CA2A9;
  border-radius: 30px;
}

.main_btn__special:hover {
  padding: 0.6em 0.1em;
  background-color: #97BBB4;
}

@media screen and (max-width: 992px ) {
  .main_btn {
    position: relative;
    display: inline-block;
    font-weight: 600;
    width: 800px;
    padding: 0.6em 0em;
    text-decoration: none;
    color: #ffffff;
    transition: .4s;
    background-color: #9CA2A9;
    border-radius: 30px;
  }
}

.main_btn:hover {
  padding: 0.6em 0.1em;
  background-color: #97BBB4;
}

@media screen and (max-width: 992px) {
  .main_btn:hover {
    padding: 0.8em 0.1em;
    background-color: #97BBB4;
  }  
}

.square_btn{
  display: inline-block;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #333333;/*Button Color*/
  color: #FFF;
  border-bottom: solid 4px #000000;
  border-radius: 3px;
}
.square_btn:active {/*on Click*/
  -ms-transform: translateY(4px);
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*Move down*/
  border-bottom: none;/*disappears*/
}

/* Horizontal Line */
.line_break {
  border: none;
  height: 3px;
  /* Set the hr color */
  color: #333; /* old IE */
  background-color: #333; /* Modern Browsers */
 }

.menu-list-block {
  margin-top: 2em;;
}

.sub-menu {
  text-transform: uppercase;
  color: #000000;
  font-size: 24px;
  font-weight: 700;
  text-align: left;
  margin-top: 18px;
  margin-bottom: 18px;
}

.sub-menu-desc {
  margin-top: 15px;
  margin-bottom: 25px;
}

.bolder {
  font-weight: 600;
}

.notice {
  margin-top: -10px;
  margin-bottom: 15px;
  font-size: small;
}

.no-line {
  text-decoration: none;
}

figure {
  margin-top: 10px;
  margin-bottom: 10px;
}

.sign img {
  height: 25px;
  width: auto;
  padding: 0;
}

.sign {
  text-align: left;
  vertical-align: center;
}

.sign figcaption {
    margin: -17px 0 10px 20px;
}

/* DIRTY Responsive pricing table CSS */

/* 
- make mobile switch sticky
*/
* {
    box-sizing:border-box;
    padding:0;
    margin:0;
     outline: 0;
  }
  article {
    width:100%;
    max-width:1000px;
    margin:0 auto;
    height:1000px;
    position:relative;
  }
  ul {
    display:flex;
    top:0px;
    z-index:10;
    padding-bottom:14px;
  }
  li {
    list-style:none;
    flex:1;
  }
  li:last-child {
    border-right:1px solid #DDD;
  }
  button {
    width:100%;
    border: 1px solid #DDD;
    border-right:0;
    border-top:0;
    padding: 10px;
    background:#FFF;
    font-size:14px;
    font-weight:bold;
    height:60px;
    color:#999
  }
  li.active button {
    background:#F5F5F5;
    color:#000;
  }
  table { border-collapse:collapse; table-layout:fixed; width:100%; }
  th { background:#F5F5F5; display:none; }
  td, th {
    height: 20px;
  }
  td,th { border:0px solid #DDD; padding: 0px; empty-cells:show; }
  td,th {
    text-align:left;
  }
  td+td, th+th {
    text-align:center;
    display:none;
  }
  td.default {
    display:table-cell;
  }
  .bg-purple {
    border-top:3px solid #A32362;
  }
  .bg-blue {
    border-top:3px solid #0097CF;
  }
  .sep {
    background:#F5F5F5;
    font-weight:bold;
  }
  .txt-l { font-size:28px; font-weight:bold; }
  .txt-top { position:relative; top:-9px; left:-2px; }
  .tick { font-size:18px; color:#2CA01C; }
  .hide {
    border:0;
    background:none;
  }
  
  @media (min-width: 640px) {
    ul {
      display:none;
    }
    td,th {
      display:table-cell !important;
    }
    td,th {
      width: 330px;
    
    }
    td+td, th+th {
      width: auto;
    }
  }

.content-text {
  text-align: center;
  padding: 15px 0;
  font-size: 28px;
}

@media screen and (max-width: 992px) {
  .content-text {
    padding: 30px 0 0 0;
    font-size: 36px;
  }
}

.content-text__review {
  text-align: center;
  padding: 15px 0;
  font-size: 28px;
}

@media screen and (max-width: 992px) {
  .content-text__review {
    padding: 30px 0;
    font-size: 36px;
  }
}

.content-text__data {
  text-align: center;
  font-size: 38px;
  font-weight: 900;
}

@media screen and (max-width: 992px) {
  .content-text__data {
    font-size: 68px;
  }
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}
  
.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 45%;
  position: relative;
  transition: all 5s ease-in-out;
}

@media screen and (max-width: 992px) {
  .popup {
    width: 70%;
    margin: 140px auto;
  }
}
  
.popup h2 {
  margin-top: 35px;
  color: #333;
  text-align: center;
  font-size: 38px;
}

@media screen and (max-width: 992px) {
  .popup h2 {
    margin-top: 25px;
    font-size: 56px;
  }
}

.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup .close:hover {
    color: #06D85F;
  }
  .popup .content {
    max-height: 30%;
    overflow: auto;
  }

  @media screen and (max-width: 992px) {
    .popup .content {
      max-width: 100%;
    }
  }